.drawer-container {
    .drawer {
        .close-button {
            display: none;
            cursor: pointer;
        }
    }
}
.notebook-expanded {
    .drawer {
        background-color: #ffffff;
    }
    .drawer-container.open {
        .close-button {
            display: unset;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            border: none;
            background-color: transparent;
        }
    }
    .drawer-container.open,
    .drawer-container:focus-within {
        position: fixed;
        background-color: #00000077;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .drawer {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;

            #noteList {
                height: 100%;
            }
        }
    }
}

#noteList {
    padding: 0.5rem 0;
    max-height: 80vh;
    overflow: auto;
    h2 {
        margin: 0 0.5rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        a {
            display: block;
            position: relative;
            &:hover,
            &.active {
                &::before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                    background: #e7e7e7;
                    filter: blur(2px);
                    z-index: -1;
                }
            }
            color: black;
            border-top: 1px dotted #c7c7c7;
            padding: 0.25rem 0.5rem 0.25rem 0.5rem;
            text-decoration: none;
            // white-space: nowrap;
            &.active {
                text-shadow: 0 0 1px black;
            }
        }
    }
}
