.container {
    position: relative;
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    .notebook {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .header {
            flex-grow: 0;
        }

        .wrapper {
            position: relative;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            border-bottom-left-radius: 1em;
            border: 1px solid #dfdfdf;
            background-color: #f0f0f0;
            height: 100%;
            &:focus-within {
                background-color: #f7f7f7f7;
            }
            .editor-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: auto;
                .select-tip {
                    margin-left: 1.5em;
                    svg {
                        animation: 1s arrow-bounce infinite;
                    }
                    margin-top: 2em;
                }
            }

            .note-list {
                position: absolute;
                top: -1px;
                // left: calc(2em + -1 * (100vw - 100%) / 2);
                // right: calc(100% + 1px);
                // right: 0;
                transform: translateX(calc(-100%));
                border: solid #dfdfdf;
                border-width: 1px 0 1px 1px;
                border-top-left-radius: 1em;
                border-bottom-left-radius: 1em;
                min-width: 10em;
                max-width: calc((100vw - 100%) / 2 - 2em);
                z-index: 1;
                background-color: #f7f7f7;
            }
        }
    }
    &.notebook-expanded {
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        .notebook .wrapper {
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
            border-bottom-left-radius: unset;
            .note-list {
                position: unset;
                top: unset;
                transform: unset;
                min-width: unset;
                max-width: unset;
                border-top-left-radius: unset;
                border-bottom-left-radius: unset;
                z-index: unset;
            }
        }
    }
}

@keyframes arrow-bounce {
    to {
        transform: translateX(-1em);
    }
    from {
        transform: translateX(0);
    }
}
